
.tree-content {
  height: 400px;
  /* max-width: 300px; */
  padding-top: 10px;
}

.option-bar {
  /* background: #209FFB !important; */
  /* border: 1px solid white; */
  cursor: pointer;
  /* margin-bottom: 10px; */
  width: 100% !important;
}

.dropdown-menu {
  width: 100%;
  padding: 0;
}